
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Envanter Yönetimi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="~/Content/navbar-top-fixed.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <div class="navbar-brand">Envanter Yönetimi</div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link text-info" aria-current="page" href="/Admin">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Cihaz ekle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Kullanıcı ekle</a>
                    </li>





                </ul>
                <form class="d-flex">
                    <div class="form-control mx-2">@Session["login"].ToString()</div>
                    <a class="btn btn-outline-danger" href="/home" type="button">Çıkış</a>
                </form>
            </div>
        </div>
    </nav>

    <main class="container-fluid">
        <div class="bg-light p-5 rounded">
            <h1>@Session["login"].ToString() Hoşgeldiniz</h1>

            <p class="lead"><b> @DateTime.Now.ToString("dddd, dd MMMM yyyy")</b></p>
            <a class="btn btn-lg btn-primary p-1" role="button">@DateTime.Now.ToString("hh:mm tt") &raquo;</a>
        </div>


        <div class="p-5">
            @RenderBody()
        </div>
    </main>
    @*---Modal Kullanıcı Ekle ---*@
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Cihaz Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    @using (Html.BeginForm("KullaniciEkle", "Admin"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="mb-3">
                            @Html.Label("Kullanıcı Adı", htmlAttributes: new { @class = "form-label" })
                            @Html.TextBox("kullaniciadi", "", new { @class = "form-control", placeholder = "Kullanı Adı" })
                        </div>
                        <div class="mb-3">
                            @Html.Label("Şifre", htmlAttributes: new { @class = "form-label" })
                            @Html.TextBox("password", "", new { @class = "form-control", placeholder = "Şifre" })
                        </div>
                        <div class="mb-3">
                            @Html.Label("Ad/Soyad", htmlAttributes: new { @class = "form-label" })
                            @Html.TextBox("adsoyad", "", new { @class = "form-control", placeholder = "Ad Soyad" })
                        </div>
                        <div class="mb-3">
                            @Html.Label("Kullanici Tipi", htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("kullanicitipi", new SelectList(ViewBag.KullaniciTipiListesi, "Id", "Tipi"), "Seçiniz", new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            @Html.Label("Bolum", htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("bolumid", new SelectList(ViewBag.BolumListesi, "Id", "BolumAdi"), "Seçiniz", new { @class = "form-control" })
                        </div>


                        <button class="w-100 btn btn-lg btn-primary" type="submit">Gönder</button>

                    }

                </div>
                <hr />
            </div>
        </div>
    </div>




    @*---Modal Cihaz Ekle ---*@
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Cihaz Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    @using (Html.BeginForm("CihazEkle", "Admin"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="mb-3">
                            @Html.Label("Bolüm", htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("bolumid", new SelectList(ViewBag.BolumListesi, "Id", "BolumAdi"), "Seçiniz", new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            @Html.Label("Marka", htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("markaId", new SelectList(ViewBag.Markalistesi, "Id", "MarkaAdi"), "Seçiniz", new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            @Html.Label("Üreim Yılı", htmlAttributes: new { @class = "form-label" })
                            @Html.TextBox("uretimyili", "", new { @class = "form-control", placeholder = "Üretim Yılı"})
                        </div>
                        <div class="mb-3">
                            @Html.Label("Cihaz Tipi", htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("cihaztipiId", new SelectList(ViewBag.CihazTipiListesi, "Id", "CihazTipiAdi"), "Seçiniz", new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            @Html.Label("Model", htmlAttributes: new { @class = "form-label" })
                            @Html.TextBox("model", "", new { @class = "form-control", placeholder = "Model" })
                        </div>
                        <div class="mb-3">
                            @Html.Label("Seri No", htmlAttributes: new { @class = "form-label" })
                            @Html.TextBox("serino", "", new { @class = "form-control", placeholder = "Seri No" })
                        </div>

                        <button class="w-100 btn btn-lg btn-primary" type="submit">Gönder</button>

                    }

                </div>
                <hr />
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>

